{% extends 'base.html' %}
{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Select Project</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          This is a modal that loads automatically when the page is loaded.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function () {
        var myModal = new bootstrap.Modal($('#exampleModal'), {
          backdrop: 'static', // Disable click outside to close
          keyboard: false     // Disable ESC key to close
        });
        myModal.show(); // Show modal
      });
  </script>
{% endblock %}